.video-unit {
    margin: 20px;
    width:300px;
    height:auto;
    float:left;
    text-align: center;
}

.video-parent {
    height: 500px;
    width:1000px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: -webkit-flex;
    display: flex;
    -webkit-justify-content:space-around;
    justify-content: space-around;

}

.volume {
    width: 150px;
    margin: auto;
    padding:30px;
}